{% extends "base.html" %} {%load static%} {% block content %} <link
rel="stylesheet" href="{% static "css/changepassword.css"%}" />
<script src="{% static "js/change-password.js"%}"></script>
<form
  name="form-change-password"
  onsubmit="return validateForm()"
>
  <div class="grid">
    <div class="container__change-password">
      <div class="container__change-password-title">Thay đổi mật khẩu</div>
      <div class="container__change-password-content">
        <div class="set-title">
          <input
            name="oldPassword"
            type="password"
            id="oldPassword"
            value=""
            placeholder="Nhập mật khẩu hiện tại..."
            oninput="clearErrorMessage()"
          />
          <span
            class="toggle-password"
            onclick="togglePasswordVisibility('oldPassword')"
            ><i class="fas fa-eye-slash"></i
          ></span>
        </div>

        <div class="set-title">
          <input
            name="newPassword"
            type="password"
            id="newPassword"
            value=""
            placeholder="Nhập mật khẩu mới ..."
            oninput="clearErrorMessage()"
          />
          <span
            class="toggle-password"
            onclick="togglePasswordVisibility('newPassword')"
            ><i class="fas fa-eye-slash"></i
          ></span>
        </div>

        <div class="set-title">
          <input
            name="newPasswordAgain"
            type="password"
            id="newPasswordAgain"
            value=""
            placeholder="Nhập lại mật khẩu mới ..."
            oninput="clearErrorMessage()"
          />
          <span
            class="toggle-password"
            onclick="togglePasswordVisibility('newPasswordAgain')"
            ><i class="fas fa-eye-slash"></i
          ></span>
        </div>
      </div>
      <span id="error-message"></span>
      <input type="submit" class="btn-submit" value="Change Password" />
    </div>
  </div>
</form>
{% endblock content %}
