.container__change-password{
    margin: 45px 180px 20px 180px;
    background: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    padding-bottom: 65px;
}
.container__change-password-title{
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.container__change-password-content{
    padding-bottom: 15px;
}

.set-title{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
    background-color: white;
}

.set-title input{
    border: none;
    width: 100%;
    outline: none;
}

.set-title + .set-title{
    margin-top: 15px;
}

.toggle-password{
    cursor: pointer;
}

#error-message{
    font-size: 13px;
    color: red;
    font-style: italic;
}