{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/footer.css" %}"/>
  </head>
  <body>
    <footer class="footer">
      <div class="grid">
        <div class="grid__row-footer">
          <div class="col grid__column-intro">
            <div class="col__column-inner">
              <img src="{% static "images/logo.jpg" %}" class="image-logo"
              class="attachment-original size-original" alt="" />
              <div class="icon-box-text last-reset">
                <p>Công ty cổ phần dịch vụ nhà đất Danang Land</p>
              </div>
            </div>
          </div>

          <div class="col grid__column-lienhe">
            <div class="col-inner">
              <h3 style="padding-right: -20px; width: 250px">
                THÔNG TIN LIÊN HỆ
              </h3>
              <div class="icon-box icon-box-left text-left">
                <div class="icon-box-img" style="width: 100%">
                  <i class="fa-solid fa-location-dot"></i>
                  <div class="icon-box-text last-reset">
                    <p>
                      54 Nguyễn Lương Bằng, Hòa Khánh Bắc, Liên Chiểu, Đà Nẵng
                    </p>
                  </div>
                </div>
              </div>

              <div class="icon-box icon-box-left text-left">
                <div class="icon-box-img">
                  <i class="fa-solid fa-phone"></i>
                  <div class="icon-box-text last-reset">
                    <p style="padding-top: 0">076 922 0162</p>
                  </div>
                </div>
              </div>
              <div class="icon-box icon-box-left text-left">
                <div class="icon-box-img">
                  <i class="fa-solid fa-envelopes-bulk"></i>
                  <div class="icon-box-text last-reset">
                    <p style="padding-top: 0">dt.dhbk@dut.udn.vn</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col grid__column-about">
            <div class="col-inner">
              <h3>VỀ CHÚNG TÔI</h3>
              <div class="grid__row-3-col-3">
                <div class="icon-box icon-box-left text-left">
                  <div class="icon-box-img">
                    <i class="fa-solid fa-calendar-days"></i>
                    <div class="icon-box-text last-reset">
                      <p>
                        Được thành lập và đi vào hoạt động từ ngày 12/12/2023
                      </p>
                    </div>
                  </div>
                </div>
                <div class="icon-box icon-box-left text-left">
                  <div class="icon-box-img">
                    <i class="fa-solid fa-book-open"></i>
                    <div class="icon-box-text last-reset">
                      <p style="padding-top: 0">
                        Được cấp giấy phép hoạt động từ Bộ Công Thương
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line-straight-footer"></div>
    </footer>
  </body>
</html>
